/*===============================
Start Sidebar Area Wrapper
================================*/
.single-sidebar-wrap {
  margin-bottom: 58px;

  @media #{$sm-device,$md-device} {
    margin-bottom: 38px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .sidebar-title {
    font-weight: 600;
    @include font-noline(18);
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

// Sidebar List Style
.sidebar-list {
  line-height: 1;
  li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $black-soft;
      @include font-noline(14);
      @include transition(0.2s);
      display: block;

      &:hover {
        color: $brand-color;
        text-decoration: underline;
      }

      span {
        float: right;
        text-align: center;
        width: 50px;

        @media #{$md-device} {
          float: none;
        }
      }
    }
  }
}

// Price Range Slider
.price-range-wrap {
  margin-right: 15px;
  padding-top: 8px;
  .price-range {
    &.ui-widget-content {
      border: none;
      background: #eeeeee;
      height: 3px;

      .ui-slider-range {
        background: $black-soft;
      }

      .ui-slider-handle {
        @include border-radius(50%);
        border: none;
        background: $black-soft;
        height: 15px;
        width: 15px;
        outline: none;
        top: -6px;
        cursor: ew-resize;
        margin-left: 0;
      }
    }
  }
  .range-slider {
    @include font-noline(14);
    line-height: 1;
    color: #8d8d8d;
    margin-top: 22px;
    * {
      margin: 0;
      line-height: 1;
    }
    input#amount {
      border: none;
      outline: none;
      @include font-noline(14);
      line-height: 1;
      color: #8d8d8d;
      pointer-events: none;
      height: 12px;
    }
  }
}

// Size List Style
.size-list {
  margin-top: -2px;
  li {
    display: inline-block;
    margin: 4px 2px;
    a {
      border: 1px solid #dddddd;
      color: #8d8d8d;
      @include font-noline(12);
      text-align: center;
      display: block;
      line-height: 40px;
      height: 40px;
      width: 40px;

      &:hover {
        border-color: $black-soft;
        background-color: $black-soft;
        color: $white;
      }
    }
  }
}

// Tags Cloud Style
.tags-cloud {
  li {
    display: inline-block;
    position: relative;
    &:after {
      content: ',';
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    a {
      @include font-noline(14);
      line-height: 1;
      color: $black-soft;

      &:hover {
        color: $brand-color;
      }
    }
  }
}

// Sidebar Search Box style
.sidebar-search-box {
  form {
    position: relative;

    input[type="search"] {
      outline: none;
      border: 1px solid #e7e7e7;
      @include font-size(13);
      padding: 15px 40px 15px 15px;
      display: block;
      @include transition(0.3s);
      width: 100%;

      &:focus {
        border-color: $black-soft;
      }
    }

    button {
      position: absolute;
      top: 50%;
      @include translate(0, -50%);
      right: 15px;
      line-height: 1;

      &:hover {
        color: $brand-color;
      }
    }
  }
}

// Sidebar Author Profile
.sidebar-author-profile {
  .author-pic {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 13px;
    @include border-radius(50%);
    overflow: hidden;
  }

  .author-info {
    color: #8d8d8d;
    @include font-size(13);

    h4 {
      font-weight: 400;
      @include font-noline(14);
      line-height: 1;
    }
  }

  .author-social-link {
    a {
      color: #8d8d8d;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $brand-color;
      }
    }
  }
}
